/jsoncpp-src-0.5.0/makefiles/vs71/*.opensdf
/jsoncpp-src-0.5.0/build/vs71/debug/lib_json/*.pdb
/jsoncpp-src-0.5.0/build/vs71/debug/lib_json/*.obj
/jsoncpp-src-0.5.0/build/vs71/debug/lib_json/lib_json.tlog
/jsoncpp-src-0.5.0/build/vs71/debug/lib_json/*.log
/jsoncpp-src-0.5.0/build/vs71/debug/lib_json/*.idb
/jsoncpp-src-0.5.0/makefiles/vs71/*.ncb
/jsoncpp-src-0.5.0/makefiles/vs71/.vs
/jsoncpp-src-0.5.0/makefiles/vs71/*.sdf
